@import "tailwindcss";

:root {
  /* Modo Claro */
  --background: #f9fafb; /* Un gris claro muy sutil, casi blanco */
  --foreground: #0d1c31; /* Un gris oscuro profundo para el texto */
  --primary-accent: #2563eb; /* Un azul vibrante para elementos interactivos */
  --secondary-accent: #6b7280; /* Un gris medio para texto secundario o bordes */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Modo Oscuro */
    --background: #f0fdff; /* Un gris muy oscuro, casi negro */
    --foreground: rgb(144, 215, 238); /* Un gris claro para el texto, no blanco puro */
    --primary-accent: #60a5fa; /* Un azul claro y suave para elementos interactivos */
    --secondary-accent: #9ca3af; /* Un gris más claro para texto secundario o bordes */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

p, a, small, strong, em,
b, i, u, mark, del, ins,
blockquote, q, cite, code,
pre, span, label, time,
abbr, sub, sup, kbd, samp,
dfn, var, div > p{
  color: lightslategray !important;
}

h1,h2,h3,h4{
  color: #26a7fc !important;
}

